table {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 75%;
    text-align: center;
}

input[name='id'] {
    width: 25%;
}

.intro {
    position: absolute;
    height: 240px;
    width: 426px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.left-section {
    width: 25%;
    height: 90%;
    position: absolute;
    left: 0;
    top: 10%;
    border-right: 3px solid rgba(51, 51, 51, 0.7);
}
.middle-section {
    width: 50%;
    height: 90%;
    position: absolute;
    left: 25%;
    top: 10%;
}

.right-section {
    width: 25%;
    height: 90%;
    position: absolute;
    right: 0;
    top: 10%;
    border-left: 3px solid rgba(51, 51, 51, 0.7);
}

button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 30px;
    background: #003459;
    border: none;
    border-radius: 10px;
    bottom: 5%;
    color: white;
    font-family: 'Poppins';
    font-size: 17px;
}
